@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text: oklch(74.912% 0.07431 276.68);
    --color-accent: oklch(87.614% 0.10404 161.795);
    --grad-start: oklch(19.414% 0.05256 272.442);
    --grad-end: oklch(14.479% 0.04857 285.531);
}

@layer base {
    body {
        font-family: 'Fira Code', monospace;
    }
}

.bg-gradient {
    background: linear-gradient(to bottom, var(--grad-start), var(--grad-end));
}
