@import 'tailwindcss';

@theme {
    --font-primary: 'Fira Code', monospace;
    --font-title: Inconsolata, monospace;

    --color-space-indigo-50: oklch(95.17% 0.012 286.17);
    --color-space-indigo-100: oklch(90.02% 0.026 285.87);
    --color-space-indigo-200: oklch(79.83% 0.053 285.13);
    --color-space-indigo-300: oklch(69.44% 0.083 284.02);
    --color-space-indigo-400: oklch(58.88% 0.115 282.29);
    --color-space-indigo-500: oklch(48.32% 0.148 279.34);
    --color-space-indigo-600: oklch(41.41% 0.123 279.58);
    --color-space-indigo-700: oklch(34.2% 0.097 279.96);
    --color-space-indigo-800: oklch(26.6% 0.069 280.61);
    --color-space-indigo-900: oklch(18.44% 0.038 281.97);
    --color-space-indigo-950: oklch(15.73% 0.027 282.79);

    --color-powder-blue-50: oklch(95.88% 0.009 247.92);
    --color-powder-blue-100: oklch(91.56% 0.019 255.54);
    --color-powder-blue-200: oklch(82.99% 0.039 255.63);
    --color-powder-blue-300: oklch(74.31% 0.06 255.71);
    --color-powder-blue-400: oklch(65.53% 0.083 255.82);
    --color-powder-blue-500: oklch(56.97% 0.105 255.27);
    --color-powder-blue-600: oklch(48.44% 0.088 256.02);
    --color-powder-blue-700: oklch(39.76% 0.07 255.99);
    --color-powder-blue-800: oklch(30.58% 0.05 255.94);
    --color-powder-blue-900: oklch(20.65% 0.028 255.84);
    --color-powder-blue-950: oklch(17.56% 0.019 255.78);

    --color-emerald-50: oklch(97.46% 0.023 165.87);
    --color-emerald-100: oklch(94.96% 0.047 165.76);
    --color-emerald-200: oklch(90.19% 0.09 164.14);
    --color-emerald-300: oklch(86.1% 0.131 161.47);
    --color-emerald-400: oklch(82.66% 0.165 158.8);
    --color-emerald-500: oklch(79.66% 0.189 155.54);
    --color-emerald-600: oklch(67.62% 0.16 155.63);
    --color-emerald-700: oklch(54.75% 0.127 155.95);
    --color-emerald-800: oklch(41.09% 0.092 157.18);
    --color-emerald-900: oklch(26.47% 0.055 158.75);
    --color-emerald-950: oklch(21.42% 0.041 161.31);

    --color-bubblegum-pink-50: oklch(94.49% 0.03 359.5);
    --color-bubblegum-pink-100: oklch(89.32% 0.06 1.38);
    --color-bubblegum-pink-200: oklch(79.51% 0.125 3.87);
    --color-bubblegum-pink-300: oklch(71.27% 0.188 7.91);
    --color-bubblegum-pink-400: oklch(65.65% 0.235 13.34);
    --color-bubblegum-pink-500: oklch(63.22% 0.254 20.85);
    --color-bubblegum-pink-600: oklch(53.46% 0.215 20.33);
    --color-bubblegum-pink-700: oklch(43.23% 0.173 19.47);
    --color-bubblegum-pink-800: oklch(32.35% 0.13 17.77);
    --color-bubblegum-pink-900: oklch(20.48% 0.082 11.77);
    --color-bubblegum-pink-950: oklch(16.67% 0.067 8.18);

    --color-stormy-teal-50: oklch(96.82% 0.012 203.47);
    --color-stormy-teal-100: oklch(93.73% 0.022 203.69);
    --color-stormy-teal-200: oklch(87.27% 0.045 207.05);
    --color-stormy-teal-300: oklch(81.16% 0.065 205.92);
    --color-stormy-teal-400: oklch(75.21% 0.084 206.4);
    --color-stormy-teal-500: oklch(69.28% 0.097 207.44);
    --color-stormy-teal-600: oklch(59.02% 0.082 207.05);
    --color-stormy-teal-700: oklch(48.02% 0.065 206.71);
    --color-stormy-teal-800: oklch(36.35% 0.047 207.93);
    --color-stormy-teal-900: oklch(23.97% 0.027 203.59);
    --color-stormy-teal-950: oklch(19.66% 0.021 206.63);
}

@layer base {
    :root {
        --color-text: var(--color-space-indigo-800);
        --color-text-secondary: var(--color-space-indigo-900);
        --color-bg: var(--color-powder-blue-300);
        --color-accent: var(--color-bubblegum-pink-500);
    }

    .dark {
        --color-text: var(--color-powder-blue-300);
        --color-text-secondary: var(--color-powder-blue-100);
        --color-bg: var(--color-space-indigo-900);
        --color-accent: var(--color-emerald-500);
    }

    body {
        font-family: var(--font-primary);
    }
}

@layer utilities {
    .text-primary {
        color: var(--color-text);
    }
    .text-secondary {
        color: var(--color-text-secondary);
    }
    .bg-primary {
        background-color: var(--color-bg);
    }
    .accent {
        color: var(--color-accent);
    }
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}
